<div class="each_profile">
    <div class="avatar"> <p>profile</p></div>
    <div class="profile">
        <div class="name"><%= profiles[0].name%></div>
        <div class="comment">comment</div>
    </div>
</div>

<script>
var acount = document.getElementsByClassName('each_profile')
acount[111].addEventListener('click',()=>{
   alert()
})
</script>