body{
    background: rgb(160, 2, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 40px;
}
.container
{
    height: 90%;
    width: 99%;
}
.header
{
    display: flex;
    justify-content: center;
}
.messages
{
    height: inherit;
    background: rgba(175, 16, 122, 0.637);
    padding: 5px;
    border-radius: 10px;
}
.message
{
    padding: 5px;
}
.message:hover
{
    transition: 0.5s;
    background: rgb(160, 2, 107);
    border-radius: 10px;
}
.text
{
    font-size: 30px;
}