<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login to chat</title>
    <link rel="stylesheet" href="css/chat_login.css">
</head>
<body>
    <div class="container">
        <div class="mychat" id="mychat">my chat</div>
        <div class="login">
            <form action="/chat" name="myform" method="post">
                <section>name<input type="text" name="lname"></section>
                <section>password<input type="password" name="lpassword"></section>
                <section>comment<input type="text" name="lcomment"></section>
                <section><input class="log" type="submit" value="login" name="submit"></section>
            </form>
        </div>
    </div>

    <script>
     
    </script>
</body>
</html>